h2 {
  color: grey;
}

#xAxis line {
  shape-rendering: crispEdges;
}

#yAxis line {
  shape-rendering: crispEdges;
}

#xAxisLab {
  fill: grey;
  font: 30 px;
}

#yAxisLab {
  fill: grey;
  font: 30 px;
}