body {
  padding: 50px;
}

.section {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.scatternote {
  color: grey;
  font-size: smaller;
}

/*#circle-slide,*/
/*#pie-slide*/
/*{*/
/*  padding-left: 45px;*/
/*  padding-right: 45px;*/
/*}*/
.s1,
.s3,
.s5
.s6{
  background: white;
}

.s2,
.s4 {
  background-color: #faf0e6;
}



p {
  font-size: 18px;
  text-align: justify;
}


/*title slide title*/
h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom:30px;

}

h2 {
  font-size: 25px;
  text-align: center;
  /*padding-top: 15px;*/
  padding-bottom: 30px;
  color: grey;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}

h4 {
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}
h6 {
  text-align: center;
  padding-bottom: 30px;
}

#instructions {
  text-align: left;
  padding-bottom: 10px;
}

/*#saddle-imgs {*/
/*  */
/*}*/


#pie-chart-text {
  padding-left: 200px;
}

#scatter-text {
  padding-right: 40px;
}

#circle-slide {
  text-align:center;
}


/*TODO - why isn't this working? */
.fp-arrow.fp-controlArrow.fp-prev {
  color: black;
}

/*TODO - why isn't this working? */
#fp-nav {
  text-color: black;
  text-size: 50;
}

/*div {*/
/*  border: solid 1px red;*/
/*}*/

#xAxis line {
  shape-rendering: crispEdges;
}

#yAxis line {
  shape-rendering: crispEdges;
}

#xAxisLab {
  fill: grey;
  font-size: 30px;
}

#yAxisLab {
  fill: grey;
  font-size: 30px;
}
.tooltip{
  position: absolute;
  text-align: center;
}
.xAxisLabel{
  fill:black;
}
.whitelabel{
  fill:white;
}
.form-control {
  position: relative;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
}
